/* Reset */
/* Track */
::-webkit-scrollbar {
    width: .6rem;

    /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border: 3px solid #ffffff00;
    /* Border around the scrollbar thumb */
    border-radius: 10px;
    padding: 12px;
    /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f1f1f;
    /* Color of the scrollbar track */
}

* {

    /* Alternative box model */
    box-sizing: border-box;

    /* Reset padding and margin on all elements */
    padding: 0;
    margin: 0;
}

:root {
    --my-black: rgb(60, 58, 71);
    --link-color: rgb(159, 118, 87);
}

/* Typography */
html {
    font-size: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.55;
    color: var(--my-black);
}

h1 {
    font-size: 3.15rem;
    font-weight: 700;
    letter-spacing: -2px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: -1px;
    color: rgba(60, 58, 71, .8);
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 2rem;
}

h3.large {
    font-size: 3.15rem;
}

.dark h3,
.dark p.section-intro {
    color: white;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

p.section-intro {
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p.number {
    font-size: 2.4rem;
    font-weight: 200;
    color: rgba(60, 58, 71, .5);
}

p.large {
    font-size: 1.75rem;
    font-weight: 200;
    letter-spacing: -1px;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(159, 118, 87);
}

a:hover {
    color: rgb(60, 58, 71)
}

form input,
form textarea,
form button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.55;
}

/* Container */

.container {
    width: 85%;
    margin: 0 auto;
}

.container.small {
    width: 60%;
    max-width: 35rem;
}

/* Header */
#main-header,
section {
    padding: 13rem 0;
    text-align: center;
}

#main-header h1 {
    margin: 7rem 0 1rem 0;
}

#main-header h2 {
    margin-bottom: 7rem;
}

.btn {
    padding: 1.3rem 3.5rem;
    border: 1px solid var(--link-color);
    border-radius: 8px;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--my-black);
    border-color: var(--my-black);
    color: white;
}

/* Chair section */

#our-chairs {
    background-color: #EFF0EA;
}

section header {
    margin-bottom: 3.5rem;
}

h3+p {
    max-width: 35rem;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    margin-bottom: 3.5rem;
}

.gallery div {
    text-align: start;
}

img {
    max-width: 100%;
}

.gallery img {
    margin-bottom: 1.3rem;
}

/* Contact */

.dark {
    background-color: var(--my-black);
}

.dark label {
    color: rgba(255, 255, 255, .8);
}

form div {
    margin-bottom: 1.75rem;
}

form label {
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 1px;
}

form input,
form textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .1);
    color: rgb(255, 255, 255);
    resize: none;
}

form input:focus,
form textarea:focus {
    outline: none;
    background-color: rgba(255, 255, 255, .2);
}


form button {
    width: 100%;
    cursor: pointer;
}

.dark .btn {
    border: 1px solid rgba(255, 255, 255, .8);
    background: transparent;
    color: rgb(255, 255, 255);
}

.dark .btn:hover {
    background-color: rgb(255, 255, 255);
    color: var(--my-black);

}

p.muted {
    color: rgba(255, 255, 255, .5);
}

form button+p {
    margin-top: 1.75rem;
}

/* visit store */

.social-icons {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

p.large+.social-icons {
    margin-top: 7rem;
}


/* footer */

footer {
    padding: 5rem 0;
}

footer p {
    text-align: center;
}


@media screen and (max-width:600px) {

    h1,
    h3.large {
        font-size: 2.3rem;
    }

    h2,
    p.large {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container.small {
        width: 85%;
    }

    #main-header,
    section {
        padding: 6rem 0;
    }

    #main-header h1 {
        margin-top: 3.5rem;
    }

    footer {
        padding: 2.5rem 0;
    }

    p.large+.social-icons {
        margin-top: 3.5rem;
    }
}

@media screen and (max-width:800px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}